<!DOCTYPE html>
<html>

<head>
  <title>Salão Denise!</title>
  <link rel='stylesheet' href='/stylesheets/principal.css' />
</head>

<body>
  <header class="header-container">
    <div class="logo-content">
      <h2>Logo</h2>
    </div>
    <div class="links-content">
      <a href="#">Quem sou Eu</a>
      <a href="#">Serviços</a>
      <a href="#">Fotos e Comentários</a>
      <a href="#">Agendar Serviço</a>
    </div>
    <div class="cadLog-content">
      <a href="#" class="cad">Cadastre-se</a>
      <a href="#" class="log">Login</a>
    </div>
  </header>
  <main class="main-container">
    <h4 class="txt-history">Lorem ipsum dolor sit amet consectetur 
      adipisicing elit. Nam, voluptatibus illum! Nostrum inventore 
      itaque a, voluptatibus quae voluptates beatae perspiciatis 
      esse placeat, porro totam. Quae eveniet deleniti vero 
      tempore veritatis.
    </h4>
    <img class="img-me" src="/images/th.jpeg" alt="Eu">
  </main>
  <footer class="footer-container">
    <h5>
      @Desenvolvido por Richard Viana Passos
    </h5>
  </footer>
</body>

</html>