<!DOCTYPE html>
<html>

<head>
  <title>Salão Denise!</title>
  <link rel='stylesheet' href='/stylesheets/principal.css' />
</head>

<body>
  <header class="header-container">
    <div class="logo-content">
      <h2>Logo</h2>
    </div>
    <div class="links-content">
      <a href="#">Quem sou Eu</a>
      <a href="#servicos">Serviços</a>
      <a href="#fotos">Fotos e Comentários</a>
      <a href="#">Agendar Serviço</a>
    </div>
    <div class="cadLog-content">
      <a href="#" class="cad">Cadastre-se</a>
      <a href="#" class="log">Login</a>
    </div>
  </header>
  <main class="">
    <div class="main-container">
      <h4 class="txt-history">Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Nam, voluptatibus illum! Nostrum inventore
        itaque a, voluptatibus quae voluptates beatae perspiciatis
        esse placeat, porro totam. Quae eveniet deleniti vero
        tempore veritatis.
      </h4>
      <img class="img-me" src="/images/th.jpeg" alt="Eu">
    </div>
    <div class="my-services">
      <h1 id="servicos" class="text-title-myservices">Meus Serviços</h1>
      <div class="services-cards">
        <div class="service-1 serv">
          <h1>Serviço 1</h1>
          <img src="/images/th.jpeg" alt="serviço um">
          <a class="link-agendar" href="#">Agendar</a>
        </div>
        <div class="service-2 serv">
          <h1>Serviço 2</h1>
          <img src="/images/th.jpeg" alt="serviço um">
          <a class="link-agendar" href="#">Agendar</a>
        </div>
        <div class="service-3 serv">
          <h1>Serviço 3</h1>
          <img src="/images/th.jpeg" alt="serviço um">
          <a class="link-agendar" href="#">Agendar</a>
        </div>
        <div class="service-4 serv">
          <h1>Serviço 4</h1>
          <img src="/images/th.jpeg" alt="serviço um">
          <a class="link-agendar" href="#">Agendar</a>
        </div>
        <div class="service-4 serv">
          <h1>Serviço 5</h1>
          <img src="/images/th.jpeg" alt="serviço um">
          <a class="link-agendar" href="#">Agendar</a>
        </div>
        <div class="service-4 serv">
          <h1>Serviço 5</h1>
          <img src="/images/th.jpeg" alt="serviço um">
          <a class="link-agendar" href="#">Agendar</a>
        </div>
        <div class="service-4 serv">
          <h1>Serviço 6</h1>
          <img src="/images/th.jpeg" alt="serviço um">
          <a class="link-agendar" href="#">Agendar</a>
        </div>
        <div class="service-4 serv">
          <h1>Serviço 7</h1>
          <img src="/images/th.jpeg" alt="serviço um">
          <a class="link-agendar" href="#">Agendar</a>
        </div>
      </div>
    </div>
    <div class="posts-coments">
      <h1 id="fotos" class="txt-posts">
        Fotos e Avaliação
      </h1>
      <div  class="fotos-avaliação">
        <div class="card-avaliação-foto">
          <img src="/images/th.jpeg" alt="services-realizados">
          <h1>11111111111</h1>
        </div>
        <div class="card-avaliação-foto">
          <img src="/images/th.jpeg" alt="services-realizados">
          <h1>11111111111</h1>
        </div>
        <div class="card-avaliação-foto">
          <img src="/images/th.jpeg" alt="services-realizados">
          <h1>11111111111</h1>
        </div>
        <div class="card-avaliação-foto">
          <img src="/images/th.jpeg" alt="services-realizados">
          <h1>11111111111</h1>
        </div>
        <div class="card-avaliação-foto">
          <img src="/images/th.jpeg" alt="services-realizados">
          <h1>11111111111</h1>
        </div>
        <div class="card-avaliação-foto">
          <img src="/images/th.jpeg" alt="services-realizados">
          <h1>11111111111</h1>
        </div>
        <div class="card-avaliação-foto">
          <img src="/images/th.jpeg" alt="services-realizados">
          <h1>11111111111</h1>
        </div>
        <div class="card-avaliação-foto">
          <img src="/images/th.jpeg" alt="services-realizados">
          <h1>11111111111</h1>
        </div>
        <div class="card-avaliação-foto">
          <img src="/images/th.jpeg" alt="services-realizados">
          <h1>11111111111</h1>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer-container" style="display: flex; justify-content: center; align-items: center; padding: 20px; font-weight: bold;">
    <h5>
      @Desenvolvido por Richard Viana Passos
    </h5>
  </footer>
</body>

</html>